################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerTest2/bin
/DockerTest2/obj

/Kubernetes/PlatformService/bin
/Kubernetes/PlatformService/obj

/Kubernetes/CommandsService/bin
/Kubernetes/CommandsService/obj
